<nav class="nav flex-column">

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu"></span> Home
        </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="/categories">
        <span class="bi bi-tags-fill-nav-menu" aria-hidden="true"></span> Categories
    </NavLink>
</div>


    <div class="nav-item px-3">
        <NavLink class="nav-link" href="expenses">
            <span class="bi bi-plus-square-fill-nav-menu"></span> Expenses
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="categories">
            <span class="bi bi-tags"></span> Categories
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="budgets">
            <span class="bi bi-wallet2"></span> Budgets
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="spending-summary">
            <span class="bi bi-bar-chart"></span> Spending Summary
        </NavLink>
    </div>

</nav>
