name: Build and deploy ASP.Net Core app to Azure Web App - smartbudget-rg

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
   steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Restore dependencies
        # This points exactly to your subdirectory and project file
        run: dotnet restore ./CSE-325-Team-13-Dotnet-Project/SmartBudget.csproj

      - name: Build with dotnet
        run: dotnet build ./CSE-325-Team-13-Dotnet-Project/SmartBudget.csproj --configuration Release --no-restore

      - name: dotnet publish
        run: dotnet publish ./CSE-325-Team-13-Dotnet-Project/SmartBudget.csproj -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write 
      contents: read 

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: .  # Ensures files are extracted in the root for the deployer

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CFC280AF927E4E6DBEAEC8848612A6C5 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_551E77F6A4554E36A7BA1AE39725CB6F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_27CAD5BFCF0E4C8782EA958AAE232997 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'smartbudget-rg'
          slot-name: 'Production'
          package: .

